$def with (form)
<!DOCTYPE html>
<html>
<head>
    <title>Compose Push Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/ckeditor/ckeditor.js"></script>
    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/twitter-bootstrap/css/bootstrap.min.css" media="screen" />
    <style>
        .error, .wrong { color: red }
    </style>
</head>
<body>
<h1>Manga Rock - Push Notification Composer</h1>
<form method="post">
    $if not form.valid: <p class="error">Wrong input. Please try again!</p>
    $:form.render()
</form>
<script>
    CKEDITOR.replace('message')
</script>
</body>
</html>
